
@media (min-width:901px) {

    .cardbox{
        grid-template-columns:30% 30% 30%;
        gap: 35px;
    }
    
    header{
        flex-direction: column; 
        justify-content: space-between; 
    }
    .box1{
        justify-content: space-between;
        margin:5px 100px 50px 100px;
    }
    .postImage{
        height:400px;
    }




}